.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;
  margin-top: 48px;
  border: none;
  border-radius: 2px;

  font-size: 18px;
  line-height: 22px;
  color: white;

  background: #000;

  transition:
    visibility 0s,
    background 0.3s;
}

.popup_type_confirm-delete .popup__button {
  margin-top: 33px;
}

.popup__button:hover {
  cursor: pointer;
  background: rgb(0 0 0 / 80%);
}

@media screen and (width <= 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
  }
}
